
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>SANJIVANI</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/public/css/vendors/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap core CSS -->
    <link href="/public/css/vendors/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/public/css/vendors/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="/public/css/styles.css" rel="stylesheet">
</head>

<body>

    {{{ body }}}

    <!-- jQuery -->
    <script src="/public/js/scriptjs/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/public/js/scriptjs/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/public/js/scriptjs/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/public/js/scriptjs/nprogress.js"></script>
    <!-- jQuery Smart Wizard -->
    <script src="/public/js/scriptjs/jquery.smartWizard.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="/public/js/scriptjs/custom.min.js"></script> {{!-- jquery modal --}}
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/public/js/scriptjs/popper.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/public/js/scriptjs/mdb.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" /> {{!-- web3 --}}
    <script type="text/javascript" src="/public/js/web3.min.js"></script>
    <script type="text/javascript" src="/public/js/user.js"></script>
    <script type="text/javascript" src="/public/js/blockchain.js"></script>
    <script type="text/javascript" src="/public/js/retrieveInfo.js"></script>
    <script type="text/javascript" src="/public/js/retrieveInfoPatient.js"></script>
    <script type="text/javascript" src="/public/js/addMsg.js"></script>
    <script type="text/javascript" src="/public/js/vote.js"></script>
    <script type="text/javascript" src="/public/js/contract.js"></script>
    <script type="text/javascript" src="/public/js/getDetails.js"></script>
    <script type="text/javascript" src="/public/js/login.js"></script>
    <script type="text/javascript" src="/public/js/patientform.js"></script>
    <script type="text/javascript" src="/public/js/drform.js"></script>
     <script type="text/javascript" src="/public/js/load.js"></script>

    <!-- SCRIPTS -->
    <!-- JQuery -->
    {{!-- <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script> --}}
    
    <!-- Bootstrap core JavaScript -->
    {{!-- <script type="text/javascript" src="js/bootstrap.min.js"></script> --}}
    
</body>

</html>
