<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Patient Dashboard</h3>
            </div>
            {{!-- Search Bar --}}
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix" text-align="center"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        {{!-- Pagination if reqd --}}
                        <div class="row">
                            {{!--
                            <div class="btn-toolbar row-bottom">
                                <div class="btn-group">
                                    <button class="btn btn-info" type="button">1</button>
                                    <button class="btn btn-info" type="button">2</button>
                                    <button class="btn btn-info" type="button">3</button>
                                    <button class="btn btn-info" type="button">4</button>
                                </div>
                            </div> --}}
                        </div>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row row-bottom">
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <div class="image view view-first">
                                        <a href="#">
                                            <img style="width: 100%; display: block;" src="images/media.jpg" alt="image" />
                                        </a>
                                        <div class="mask">
                                            <p>Your Text</p>
                                        </div>
                                    </div>
                                    <div class="caption">
                                        <p>
                                            <strong>Patient Details</strong>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <div class="image view view-first">
                                        <a href="#">
                                            <img style="width: 100%; display: block;" src="images/media.jpg" alt="image" />
                                        </a>
                                        <div class="mask">
                                            <p>Your Text</p>

                                        </div>
                                    </div>
                                    <div class="caption">
                                        <p>
                                            <strong>Vital Signs</strong>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <div class="image view view-first">
                                        <a href="#">
                                            <img style="width: 100%; display: block;" src="images/media.jpg" alt="image" />
                                        </a>
                                        <div class="mask">
                                            <p>Your Text</p>

                                        </div>
                                    </div>
                                    <div class="caption">
                                        <p>
                                            <strong>Allergies</strong>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <div class="image view view-first">
                                        <a href="#">
                                            <img style="width: 100%; display: block;" src="images/media.jpg" alt="image" />
                                        </a>
                                        <div class="mask">
                                            <p>Your Text</p>

                                        </div>
                                    </div>
                                    <div class="caption">
                                        <p>
                                            <strong>Medications</strong>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-bottom">
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <div class="image view view-first">
                                        <a href="#">
                                            <img style="width: 100%; display: block;" src="images/media.jpg" alt="image" />
                                        </a>
                                        <div class="mask">
                                            <p>Your Text</p>

                                        </div>
                                    </div>
                                    <div class="caption">
                                        <p>
                                            <strong>Instructions</strong>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <div class="image view view-first">
                                        <a href="#">
                                            <img style="width: 100%; display: block;" src="images/media.jpg" alt="image" />
                                        </a>
                                        <div class="mask">
                                            <p>Your Text</p>

                                        </div>
                                    </div>
                                    <div class="caption">
                                        <p>
                                            <strong>Immunization</strong>
                                        </p>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <div class="image view view-first">
                                        <a href="#">
                                            <img style="width: 100%; display: block;" src="images/media.jpg" alt="image" />
                                        </a>
                                        <div class="mask">
                                            <p>Your Text</p>

                                        </div>
                                    </div>
                                    <div class="caption">
                                        <p>
                                            <strong>Surgical History</strong>
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <div class="image view view-first">
                                        <a href="#">
                                            <img style="width: 100%; display: block;" src="images/media.jpg" alt="image" />
                                        </a>
                                        <div class="mask">
                                            <p>Your Text</p>

                                        </div>
                                    </div>
                                    <div class="caption">
                                        <p>
                                            <strong>Reports</strong>
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->