<div class="container" style="padding:8em; padding-top:3em;" align="center">
  <!-- page content -->
  <div class="row">
    <div class="page-title" style="color:#ffffff; margin-bottom:1.5em;">
      <div class="title_center">
        <h1>REGISTER</h1>
      </div>
    </div>

    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <!-- Smart Wizard -->
            <h2>These are the basic steps before entering into the system.</h2>
            <div id="wizard" class="form_wizard wizard_horizontal">
              <ul class="wizard_steps">
                <li>
                  <a href="#step-1">
                    <span class="step_no">1</span>
                    <span class="step_descr">
                      Step 1
                      <br />
                      <small>Basic Credentials</small>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#step-2">
                    <span class="step_no">2</span>
                    <span class="step_descr">
                      Step 2
                      <br />
                      <small>Personal Details</small>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#step-3">
                    <span class="step_no">3</span>
                    <span class="step_descr">
                      Step 3
                      <br />
                      <small>Profile Picture</small>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#step-4">
                    <span class="step_no">4</span>
                    <span class="step_descr">
                      Step 4
                      <br />
                      <small>Dashboard</small>
                    </span>
                  </a>
                </li>
              </ul>


              <div id="step-1">
                <h2 class="StepTitle">Basic Credentials</h2>
                <form class="form-horizontal form-label-left" method="post" action="/home/{{patient}}/signuppatient/firstform">

                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="username">Username
                      <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" id="username" name="username" required="required" class="form-control col-md-7 col-xs-12">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email
                      <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="email" id="email" name="email" required="required" class="form-control col-md-7 col-xs-12">
                    </div>
                  </div>
                  <div class="form-group col-sm-12">
                    <div class="col-sm-12 text-right">
                      <button type="submit" id="firstform-post" class="buttonNext btn btn-success">
                        <i class="fa fa-comment">Post</i>
                      </button>
                    </div>
                  </div>

                </form>
                
              </div>

              <div id="step-2">
                <h2 class="StepTitle">Personal Details</h2>
                <form class="form-horizontal form-label-left" method="post" action="/home/{{patient}}/signuppatient/secondform">

                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">First Name
                      <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input name='firstname' type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Last Name
                      <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input name= 'lastname' type="text" id="last-name" name="last-name" required="required" class="form-control col-md-7 col-xs-12">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Middle Name</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input name='middlename' id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Gender</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <div id="gender" class="btn-group" data-toggle="buttons">
                        <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                          <input type="radio" name="gender" value="male"> &nbsp; Male &nbsp;
                        </label>
                        <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                          <input type="radio" name="gender" value="female"> Female
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Date Of Birth
                      <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input name='dob' id="birthday" class="date-picker form-control col-md-7 col-xs-12" required="required" type="text" data-inputmask="'mask': '99/99/9999'">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="address">Address
                      <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" id="address" name="address" required="required" class="form-control col-md-7 col-xs-12">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Contact
                      <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input id="contact" class="form-control col-md-7 col-xs-12" required="required" name='contact' type="text">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Emergency Contact
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input name='econtact' id="econtact" class="form-control col-md-7 col-xs-12" type="text">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Blood Group</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <select class="form-control" name="bloodgroup">
                        <option>A+</option>
                        <option>A-</option>
                        <option>B+</option>
                        <option>B-</option>
                        <option>AB+</option>
                        <option>AB-</option>
                        <option>O+</option>
                        <option>O-</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group col-sm-12">
                    <div class="col-sm-12 text-right">
                      <button type="submit" id="secondform-post" class=" buttonNext btn btn-success">
                        <i class="fa fa-comment">Post</i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>

              <div id="step-3">
                <form class="form-horizontal form-label-left" method="post" action="/home/{{patient}}/signuppatient/firstform">
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="profilePic">Upload Profile Pic </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="file" class="form-control-file col-md-7 col-xs-12" id="profilePic">
                    </div>
                  </div>
                </form>
              </div>

              <div id="step-4">
                <h2 class="StepTitle">Congratulations!!! You have successfully registered for our system. Click "Finish" to go to your Dashboard.</h2>
              </div>

            </div>
            <!-- End SmartWizard Content -->

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- /page content -->


</div>

<!-- jQuery -->
<script src="../vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="../vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="../vendors/nprogress/nprogress.js"></script>
<!-- jQuery Smart Wizard -->
<script src="../vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
<!-- Custom Theme Scripts -->
<script src="../build/js/custom.min.js"></script>